* {
    font-family:sans-serif;
    box-sizing: border-box;
}

header {
    background: #000 no-repeat center url('../img/thunderstorm_opt.png');
    background-size:cover;
    width: 100%;
    border-radius: 10px;
}

header h2 {
    color:#fff;
    text-align:center;
    padding-top:20px;
    text-shadow: 2px 2px 2px black;
}

header nav ul li a {
    color:cyan; font-weight:bold; text-decoration: none;
    display:block;
    padding: 10px;
    padding-left: 50px;
}

header nav ul li a:hover {
    color: black;
}

header nav ul {
    list-style: none;
    margin:0;
    padding:0;
}

header nav ul li {    
    border: 1px solid white;
    border-bottom:0;
    border-radius: 10px;
}

header nav ul li:last-child {
    border-bottom:1px solid white;
}

header nav ul li:hover {
    background: cyan;
    color: black;
}

footer {
    background: #000;
    border-radius: 10px;
    text-align:center;
    color: #fff;
    padding: 10px;
}

.home-nav ul {
    list-style: none;
}

.home-nav ul li {
    padding: 5px;
}

section {
    padding: 10px;
}

form {
    margin:20px;
}

label {
    display:block;
    font-weight:bold;
    margin-top:20px;
}

button {
    display:block;
    margin: 10px 0 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    color:cyan;
    background-image: linear-gradient(to top, black, gray);

}

.headache-data tr:nth-child(even) {
    background: #ccc;
}
.headache-data td {
    padding:10px 20px;
}

.headache-data th {
    text-align:center;
    font-weight:bold;
    vertical-align: top;
}

.headache-data-buttons {
    background: #fff;
}

.headache-data-buttons a, .button-new {
    margin: 10px 0 0 auto;
    padding: 5px 20px;
    border-radius: 5px;
    color:cyan;
    background-image: linear-gradient(to top, black, gray);
    text-decoration: none;
}

a.button-delete {
    color:red;
}

.headache-data-date, .headache-data-time {
    text-align:right;
}

.headache-data-pain {
    text-align:center;
}

legend {
    font-weight:bold;
}

.radio-array {
    margin-top:20px;
}

.radio-array label {
    display:inline;
    font-weight: normal;
}

input[type=text] {
    width:100%;
}

textarea {
    width:100%;
    height:75px;
}